.container {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  gap: 20px;
}
.button {
  padding: 10px 20px;
  /* font-size: 16px; */
  /* cursor: pointer; */
}
.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 18px;
}
.tableWrapper {
  width: 100%;
  overflow-x: auto;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.team {
  padding: 4px 8px;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.points {
  font-weight: 700;
  font-size: 16px;
  color: #0011ff;
}
